<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Test</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#playersSubmenu" data-toggle="collapse" aria-expanded="false">Players</a>
            <ul class="collapse list-unstyled" id="playersSubmenu">
                <li>
                    <a href="/">By League</a>
                </li>
                <li>
                    <a href="/">By Nation</a>
                </li>
                <li>
                    <a href="/">Random</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#teamsSubmenu" data-toggle="collapse" aria-expanded="false">Teams</a>
            <ul class="collapse list-unstyled" id="teamsSubmenu">
                <li>
                    <a href="/">By League</a>
                </li>
                <li>
                    <a href="/">National Teams</a>
                </li>
                <li>
                    <a href="/">Random</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/">Test</a>
        </li>
        <li>
            <a href="/">Test</a>
        </li>
    </ul>
</nav>