<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Football Web App</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="http://localhost:8000/">Home</a>
        </li>
        <li>
            <a href="http://localhost:8000/searchplayers?query=">Players</a>
        </li>
        <li>
            <a href="http://localhost:8000/searchteams?query=">Teams</a>
        </li>
        <!-- <li>
            <a href="/">Competitions</a>
        </li> -->
    </ul>
</nav>